@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.centered-title {
    color: black;
    font-family: 'Roboto', 'sans-serif';
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-subtitle{
    color: black;
    font-family: 'Roboto', 'sans-serif';
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 30px;
    width: 60px;
    padding: 10px;
    border: 2px solid red;
    margin: 10px;
}

.centered-div{
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.top-section{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.middle-section{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}